<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sofkadevelopment.mybike_yourbike" >

    <application

        android:allowBackup="true"
        android:icon="@drawable/bicycle"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EmailPasswordActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RentBikeActivity"
            android:label="Rent Bike"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".AddBikeActivity"
            android:label="Add Bike"
            android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>